<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form>
    <h1>Task Detail</h1>
    <h2>Task Name: {{task.name}}</h2>
    <input type="text" class="form-control" placeholder="task.description" ng-model="updatedTask.name" />
    <h2>Task Description:{{task.description}}</h2>
    <input type="text" class="form-control" placeholder="task.description" ng-model="updatedTask.description" />
    <h2>Task Status: {{task.status}}</h2>
    <input type="text" class="form-control" placeholder="task.description" ng-model="updatedTask.status" />
    <br /><button ng-click="updateTask(updatedTask)">Edit Task</button>
        </form>
</body>
</html>
